
.container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 40px;
  padding-right: 40px;
  gap: 7px;
}

.agenda-card{
  min-width: 200px;
  max-width: 250px;

}

.agenda-card:hover {
  background-color: #d3d3d3;

}
