.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

mat-card {
  width: 300px;
}
form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
}


