<div class="registration-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Registration</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" type="text" placeholder="Inserisci il tuo username"/>
          <mat-error *ngIf="registrationForm.get('username')?.invalid">Username non valido</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" placeholder="Inserisci la tua mail"/>
          <mat-error *ngIf="registrationForm.get('email')?.invalid">Mail non valida</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" placeholder="Inserisci la tua password"/>
          <mat-error *ngIf="registrationForm.get('password')?.invalid">Password richiesta</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="registrationForm.invalid">
          Login
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
